/********************************************************************************
	CSS Estilos
	Nombre: Configuracion
	Responsable: Mario R.
********************************************************************************/



/********************************************************************************
	CSS Estilos
	Nombre: Asignacion de documentos
	Responsable: Noemi M.
********************************************************************************/

ul {
    list-style-type: none;
    margin: 5%;
}

.seccion1, .seccion2 {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0pt 0pt 2px gray;
    float: left;
    height: 500px;
    margin: 4%;
    width: 40%;
}

.seccion1-1 {
    border-radius: 15px 15px 15px 15px;
     
	 box-shadow: 0pt 0pt 2px gray;
    height: 25%;
    margin: 5%;
    width: 90%;
}

.seccion1-2 {
    border-radius: 15px 15px 15px 15px;
     
	 box-shadow: 0pt 0pt 2px gray;
     height: 50%;
    margin: 5%;
    overflow-y: auto;
    width: 90%;
}

.seccion1-3:hover{
	cursor:pointer;
	box-shadow:0 0 3px gray;
}

.seccion1-3 {
    border-radius: 0px 15px 15px 15px;
    border: 1px solid gray;
    float: left;
    height: 100px;
    margin: 13pt 13px;
    width: 100px;
}

.seccion1-4 {
    border: 1px solid;
    height: 12%;
    margin: 1%;
    padding: 2%;
    width: 92%;
}

.seccion3 {
    border-radius: 15px 15px 15px 15px;
    border: 1px solid gray;
    height: 400px;
    margin: 2%;
}

.seccion3-1 {
    border: 1px solid gray;
    height: 70%;
    margin: 3%;
    overflow-y: auto;
}


.seccion3-2 {
	border: 1px solid white;
    height: 10%;
    margin: 93% 5% 2% 6%;
 
}
.seccion3-3 {
    border: 1px solid white;
    height: 10%;
    margin: 105% -5% 2% 6%;
    position: relative;
}

.seleccion-documento {
    border: 1px solid white;
    position: relative;
	top: -0.5px;
    left:-1.5.px;
    
}

.etiqueta-documento {
    border: 1px solid;
    margin: 7px;
}
													   




/********************************************************************************
	CSS Estilos
	Nombre: Estado de la captura
	Responsable: David P.
********************************************************************************/

a.ver {
	background: url(../img/inc.png) repeat scroll 184px 142px transparent;
	width:34px;
	display: block;
	height:30px;
	margin:auto;	
}
div.navbar-separador
{
	min-height: 10px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #C3C3C3;
	text-align:center;
	color:#999999;
	border:1px solid #C3C3C3;
	font-size:.85em;
}


div#indicadores .row-fluid:nth-child(odd):not(#indicadores-headers) 
{

    background-color: GhostWhite;
	border: 1px solid Gainsboro;
}


div#encabezado
{
    font-family: "Arial";
    font-size: 1.1em;
    font-weight: bold;
}

div.categorias
{
	font-family:"Arial";
	
}

div.row-fluid
{
border:1px solid white;
}

form#botones {
     left: 380px;
     position: relative;
     top: 170px;
     width: 60%;
}
 .text-area {
    margin-top: 11px;
}
.seccion5
 {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 2px gray;
    height: 85%;
    margin: 0%;
	padding:2%;
    width: 17%;
    float: left;
}